.vbox {
    -fx-background-color: #0E0B16;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-padding: 30;
}
.label{
    -fx-font-family: 'Segoe UI';
    -fx-font-weight: bold;
    -fx-text-fill: '#E7DFDD';
    -fx-font-size: 16;
}

.button {
    -fx-background-color: #4717f6;
    -fx-text-fill: #E7DFDD;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16;


    -fx-min-width: 150px;
    -fx-max-width: 300px;
    -fx-pref-height: 45px;


    -fx-padding: 10 20 10 20;

    -fx-background-radius: 0;
    -fx-border-radius: 0;

    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #E7DFDD;
    -fx-text-fill: #4717f6;
}

.button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.grid-pane {

    -fx-padding: 20;
    -fx-hgap: 15;
    -fx-vgap: 15;
    -fx-background-color: #4717f6;
    -fx-border-color: #A239CA;
    -fx-border-width: 5;
    -fx-alignment: center;
}